@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root{
    --red:#e50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all.2s linear;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 5.5rem;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color:white;
    font-size: 3rem;
    font-weight: bolder;
}
header .logo i:hover{
    transform: rotate(360deg);
}
header .navbar .active,
header .navbar .BigAnime,
header .navbar .BigMovies,
header .navbar .BigStudies,
header .navbar .BigCoding{
    font-size: 3rem;
    border-radius: 1rem;
    padding: .5rem 5rem;
    color:white;

}

header .Smallbars .active2,
header .Smallbars .SmallAnime,
header .Smallbars .SmallMovies,
header .Smallbars .SmallStudies,
header .Smallbars .SmallCoding{
    font-size: 3.5rem;
    border-radius: 1rem;
    padding: .5rem 4rem;
    display: block;
    color:white;
    display: none;

}

header .Smallbars .active2{
    color:var(--light-color);
    background: white;
    font-size: 3.5rem;
    border-radius: 1rem;
    padding: .5rem 4rem;
    display: none;
}


header .Smallbars .SmallAnime:hover,
header .Smallbars .SmallMovies:hover,
header .Smallbars .SmallStudies:hover,
header .Smallbars .SmallCoding:hover{
    color:var(--light-color);
    background: white;
}
header .navbar a:hover{
    color:var(--light-color);
    background: white;
}
header .navbar a.active{
    color:var(--light-color);
    background: white;
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left:.5rem;
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align:center;
    font-size:3rem;
    color:white;
    border-radius: 40%;
    background: var(--light-color);
}
header .icons i:hover,
header .icons a:hover{
    color: var(--light-color);
    background: white;
    transform: rotate(360deg);
}

.BackgroundAnimepage{
    max-height:1400px ;
    max-width:1700px ;
    display: inline-flex;
    align-items: center;
    background: cover;
    background-position: center;
    justify-content:flex-end;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.anime .cover{
    max-width: 700px ;
    max-height :700px;
    display:flex;
    padding:20px;
    text-align:center;
    margin-left: 500px;   
}
.anime .descVideo1{  /* p */
    font-size: 2rem;
    color:gray;
    margin-left: 180px;
}

.anime .descVideo2{
    font-size: 2rem;
    color:gray;
    margin-left: 1100px;
}
.anime .titleVideo1{ /* h3 */
    font-size: 2.5rem;
    margin-left: 260px;
    margin-bottom: 2%;
    color:darkred;
}

.anime .titleVideo2{
    font-size: 2.5rem;
    margin-left: 1190px;
    margin-bottom: 2%;
    color:darkred;
}
.anime .download{ /* a */
    display: none;
    font-size: 2rem;
    color:darkred;
    margin-left: 785px;  
}

.anime .Video1{
    margin-left: 40px; 
    margin-top: 2%;
    border-radius: 10%;
}

.anime .Video2{
    margin-left: 940px; 
    margin-top: 2%;
    border-radius: 10%;
}

.anime .Video3{
    margin-left: 40px; 
    margin-top: 2%;
    border-radius: 10%;
}

.anime .titleVideo3{ /* h3 */
    font-size: 2.5rem;
    margin-left: 260px;
    margin-bottom: 2%;
    color:darkred;
}

.anime .descVideo3{  /* p */
    font-size: 2rem;
    color:gray;
    margin-left: 140px;
}
.List{
    font-size: 4rem;
    margin-left: 500px;
    color:whitesmoke;
    margin-top: 2%;
}

.copyright .worning {
    display: inline;
    font-size: 1rem;
}


.anime .desc,
.anime .title{
    display: none;
}

@media (max-width:1230px){
    header .navbar{
        display: none;
    }
    header .Smallbars .active2,
    header .Smallbars .SmallAnime,
    header .Smallbars .SmallMovies,
    header .Smallbars .SmallStudies,
    header .Smallbars .SmallCoding{
        display: block;
    }

    .anime .Video1,
    .anime .Video2,
    .anime .Video3{
        display: none;
    }

    .anime .titleVideo1,
    .anime .titleVideo2,
    .anime .titleVideo3{
        display: none;
    }

    .anime .descVideo1,
    .anime .descVideo2,
    .anime .descVideo3{
        display: none;
    }



    .BackgroundAnimepage{
         display: none;
    }

    .List{
         display: none;
    }

}
.copyright{
    display:flex;
    justify-content:space-between;
    padding:20px;
    font-size: 20px;
}




